body {
	margine:0;
	padding:0;
	background-image:url(feedback.gif);
	background-size:cover;
	font-family:sans-serif;
}

header
{
 background:black;
 color:white;
 padding:8px 0px 6px 40px;
 height:60px;
 
 }
 header h1
 {
 display:inline;
 font-family:
 font-weight:400;
 font-size:32px;
 float:left;
 margin-top:10px;
 margin-right:10px;
 margin-bottom:10px;
 }
 nav ul {
	display:inline;
	padding:0px;
	float:left;
	}
nav ul li {
		display:inline-block;
		list-style-type:none;
		color:white;
		line-heigth:20px;
		height:8px;
		width:80px;
		text-align:center;
		text-decoration:none;
		margin-left: 30px;
	  }
nav ul li a {
		color: white;
		text-align: center;
		text-decoration: none;
		font-size:18px;
		
}
ul li a:hover
{ 
 background-color:orange;
 color:black;
 }
 #nav
{
font-family:'Montserrat',sans-serif;
}
.divider
{
	bakground-color:blue;
	padding:30px 10px 16px 10px;
}
#marquee
{
	top:300px;
	left:20px;
	}
 
 
 
.feedbackform {
width: 460px;
font-family: arial;
border: 1px solid #AAA;
padding:10px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px;
}
.feedbackformheader {
font-size:18px;
font-weight:bold;
padding-top:10px;
padding-bottom:10px;
text-align:center;
}
.feedbackformmessage {
text-align:center;
padding-bottom:10px;
}
.feedbackform td {
padding:4px;
font-size:12px;
}
.feedbackform p {
padding:4px;
}
.feedbackform label {
padding:4px;
}
.feedbackform label {
padding-right:10px
}
.required {
font-weight:bold;
}
.required_star {
font-weight:bold;
color:#F00;
}
.not-required {
font-weight:normal
}
.antispammessage {
padding:10px;
border-top:1px solid #AAA;
border-bottom:1px solid #AAA;
font-weight:bold 
}
.antispamquestion {
font-weight:normal;
}
.feedback h2 {
    font-size:25px;
    line-height:22px;
    border-bottom:1px solid #000;
    margin-bottom:11px;
    padding-bottom:4px;
}
.feedback td, 
.feedback p, 
.feedback label, 
.feedback input
.feedback textarea{
    font-size:14px;
    font-family: arial, sans-serif;
}
.feedback td{
    padding: 4px;
}

div.feedback-default {
    padding:20px;   
    padding-left:30%;
    font-family: arial, sans-serif;
}
div.feedback-default h2 {
    border-bottom:1px solid #BBB;
}
.feedback_text{
	width:220px;
	height:26px;
	border:1px solid #BBB;
}
.feedback_textbig{
	width:220px;
	height:26px;
	border:1px solid #BBB;
}
.feedback_textarea{
	width:320px;
	height:220px;
	border:1px solid #BBB;
}
.feedback_button{
	width:200px;
	height:40px;
}


