body
{
	margine:0;
	padding:0;
	background-image:url(GM_0002.JPG);
	background-size:cover;
	font-family:sans-serif;
}
header
{
 background:black;
 color:white;
 padding:8px 0px 6px 40px;
 height:60px;
 }
 header h1
 {
 display:inline;
 font-family:
 font-weight:400;
 font-size:32px;
 float:left;
 margin-top:10px;
 margin-right:10px;
 margin-bottom:10px;
 }
	

nav ul {
	display:inline;
	padding:0px;
	float:left;
	}
nav ul li {
		display:inline-block;
		list-style-type:none;
		color:white;
		line-heigth:20px;
		height:8px;
		width:80px;
		text-align:center;
		text-decoration:none;
	  }
nav ul li a {
		color: white;
		text-align: center;
		text-decoration: none;
		font-size:18px;
		
}
ul li a:hover
{ 
 background-color:orange;
 color:black;
 }
#nav
{
font-family:'Montserrat',sans-serif;
}
.divider
{
	bakground-color:blue;
	padding:30px 10px 16px 10px;
}
#marquee
{
	top:300px;
	left:20px;
	}
